body {
  background-color: rgb(175, 179, 184);

}


.zoom-element {
  transform: scale(1.5); 
  transform-origin: center; 
}

.inGameTotals {
    display: flex;
    justify-content: space-evenly;
    background-color: burlywood;
    padding: 5px;
    min-width: 230px;
}

select {
    border: 2px solid black;
    margin-top: 10px;
    min-width: 230px;
    padding: 5px;
    text-align: center;
}



.inputRow {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

input, .kDiv, .dDiv {
    /* padding: 7px; */
    width: 56.5px;
    height: 45px;
}


.killInput {
    padding: 6px;
    border: 5px solid lightgreen;
}

  .kDiv {
    padding: 6px;
    border: 5px solid lightgreen;
    background-color: lightgreen;
    text-align: center;
    font-size: smaller;

}



.deathInput {
    padding: 5px;
    border: 5px solid rgb(242, 100, 100);
}

.dDiv {
    padding: 5px;
    border: 5px solid rgb(242, 100, 100);
    background-color: rgb(242, 100, 100);
    text-align: center;
    font-size: smaller;
}

.subSingleScoreBtn {
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    min-width: 230px;

}

.intro {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.first {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



.top {
    display: flex;
    justify-content: center;
    border: 3px solid grey;
    background-color: gray;
    min-width: 230px;
}

.second {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    margin-right: 40px;
    padding: 30px;
  }



.hide {
  display: none;
}





input {
    min-width: 31px;
    /* background-color: rgb(189, 228, 189); */
}

.killsLeftTxt {
    margin-right: 5px;
}

.archHeaders {
    display: flex;
    justify-content: space-evenly;
    background-color: lightslategray;
    padding: 8px;
    width: 220px;
}


.heder {
    margin-left: 15px;
    margin-right: 15px;
}



.archiveDiv {
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    padding: 8px;
    width: 220px;
}

.totals {
    display: flex;
    justify-content: space-evenly;
    border: 3px solid rgb(139, 132, 12);
    background-color: burlywood;
    border-radius: 0px 0px 15px 15px;
    width: 217px;
    padding: 8px;


}

.tip {
    text-align: center;
    width: 220px;
    padding: 8px;
    background-color: burlywood;
    border-radius: 10px 10px 0px 0px;
}

.heder1 { 
    margin-left: 13px;
    background-color: lightslategray;
    padding: 6px;
}

.heder2 {
    margin-left: -10px;
    background-color: lightslategray;
    padding: 6px;
}

.heder3 {
    margin-left: -5px;
    background-color: lightslategray;
    padding: 6px;

}

.heder4 {
    background-color: lightslategray;
    padding: 6px;
}


.red {
    background-color: rgb(234, 91, 91);
}

.green {
    background-color: lightgreen;
}

.grey {
    background-color: lightgray;
}


.gameArchive {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 3px solid rgb(79, 79, 79);
    background-color: rgb(181, 164, 164);
    border-radius: 15px;
    padding: 12px;
    width: 190px;
}

.singleArchiveRow{
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
}


